body {
    margin: 0;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
    background: #333;
    width: 15vh;
    height: 15vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: 100%;
}

.draggable {
    background-color: aliceblue;
    border: 1px black;
    cursor: move;
    width: 15vh;
    height: 15vh;
    text-align: center;
    position: absolute;
    z-index: 100;
}

.draggable.dragging {
    opacity: .5;
}

.draggable img {
    width: 100%;
    height: 100%;
}

.draggable .price {
    display: none;
}

#page-wrapper {
    position: relative;
    border: 1vh solid black;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    overflow: hidden;
}



.container-wrapper2 {
    position: absolute;
    top: 4%;
    right: 81%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75vh;
    justify-items: end;
}

.container-wrapper3 {
    position: absolute;
    top: 4%;
    left: 81%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75vh;
    justify-items: end;
}


#price-display {
    position: absolute;
    top: 0;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.75vh;
    left: 0;
}

#price-display2 {
    position: absolute;
    top: 0;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.75vh;
    right: 0;
}




#two-four-box {
    position: absolute;
}

#two-three-box {
    position: absolute;
}
#two-two-box {
    position: absolute;
}

#one-two-box {
    position: absolute;
}

#three-one-box {
    position: absolute;
}

.two-four {
    border: 1.125vh solid black;
    border-top: 1.875vh solid black;
    width: 60.88vh;
    height: 30.4vh;
    overflow: hidden;
    max-width: 100%;
    min-width: 60.6vh;
    min-height: 30.3vh;
}

.two-three {
    border: 1.125vh solid black;
    border-top: 1.875vh solid black;
    width: 45.7vh;
    height: 30.3vh;
    overflow: hidden;
    max-width: 100%;
    min-width: 45.45vh;
    min-height: 30.3vh;
}

.two-two {
    border: 1.125vh solid black;
    border-top: 1.875vh solid black;
    width: 30.435vh;
    height: 30.3vh;
    overflow: hidden;
    max-width: 100%;
    min-width: 30.3vh;
    min-height: 30.3vh;
}

.one-two {
    border: 1.125vh solid black;
    border-top: 1.875vh solid black;
    width: 30.435vh;
    height: 15.15vh;
    overflow: hidden;
    max-width: 100%;
    min-width: 30.3vh;
    min-height: 15.15vh;
}

.three-one {
    border: 1.125vh solid black;
    border-top: 1.875vh solid black;
    width: 15.2175vh;
    height: 45.45vh;
    overflow: hidden;
    max-width: 100%;
    min-width: 7.575vh;
    min-height: 22.725vh;
}
  
#page-wrapper {
    position: relative;
}

.container-grid {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
    justify-content: center;
}

.container-grid2 {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
    margin-top: 1.5vh;
    justify-content: center;
}
  
.container2 {
    /*background: #333;*/
    width: 15vh;
    height: 15vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    flex-shrink: 0;
}

.container2.has-24child {
    margin: 0.75vh;
}
.container2.has-23child {
    margin: 0.75vh;
}
.container2.has-22child {
    margin: 0.75vh;
}
.container2.has-12child {
    margin: 0.75vh;
}
.container2.has-31child {
    transform: translateY(7.575vh);
    margin: 0.75vh;
}


#add-2x4 {
    content: "";
    display: block;
    width: 15vh;
    height: 7.875vh;
    background-image: url('containers/2x4.png');
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: 7.5vh;
}

#add-2x3 {
    content: "";
    display: block;
    width: 11.25vh;
    height: 7.8vh;
    background-image: url('containers/2x3.png');
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -0.75vh;
}

#add-2x2 {
    content: "";
    display: block;
    width: 7.5vh;
    height: 7.725vh;
    background-image: url('containers/2x2.png');
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -9vh;
}

#add-1x2 {
    content: "";
    display: block;
    width: 7.5vh;
    height: 4.125vh;
    background-image: url('containers/1x2.png');
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -13.5vh;
}

#add-3x1 {
    content: "";
    display: block;
    width: 3.75vh;
    height: 10.725vh;
    background-image: url('containers/3x1.png');
    background-size: cover;
    position: absolute;
    right: 9vh;
    bottom: -13.5vh;
}

#delete-container {
    content: "";
    display: block;
    background-image: url('trash.png');
    background-size: cover;
    width: 7.5vh;
    height: 7.5vh;
    position: absolute;
    right: 1.5vh;
    bottom: 1.5vh;
  }